openapi: 3.0.3
info:
  title: ScanSource Invoice Availability Tracking API
  description: The ScanSource Invoice API provides programmatic access to invoicing data for technology distribution partners. Includes invoice summaries, detailed invoice lists, individual invoice details, and PDF export capabilities with filtering by date range and order identifiers.
  version: 1.0.0
  contact:
    name: ScanSource Partner Support
    email: B2BRequest@scansource.com
    url: https://partnerportal.scansource.com
servers:
- url: https://services.scansource.com/api
  description: ScanSource Production API
tags:
- name: Tracking
  description: Order tracking and delivery information
paths:
  /salesorder/tracking:
    get:
      operationId: getOrderTracking
      summary: Get Order Tracking
      description: Retrieve carrier tracking information and delivery status for an order.
      tags:
      - Tracking
      parameters:
      - name: orderNumber
        in: query
        required: false
        description: ScanSource order number
        schema:
          type: string
      - name: poNumber
        in: query
        required: false
        description: Customer purchase order number
        schema:
          type: string
      - name: deliveryNumber
        in: query
        required: false
        description: Delivery or ASN number
        schema:
          type: string
      responses:
        '200':
          description: Tracking information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingResponse'
        '401':
          description: Unauthorized
        '404':
          description: Order not found
      security:
      - ApiKeyAuth: []
  /salesorder/serials:
    get:
      operationId: getSerialNumbers
      summary: Get Serial Numbers
      description: Retrieve serial number tracking information for serialized products in an order.
      tags:
      - Tracking
      parameters:
      - name: orderNumber
        in: query
        required: false
        schema:
          type: string
      - name: customerNumber
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Serial number data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialNumberResponse'
        '401':
          description: Unauthorized
      security:
      - ApiKeyAuth: []
components:
  schemas:
    SerialNumberResponse:
      type: object
      properties:
        orderNumber:
          type: string
        serials:
          type: array
          items:
            type: object
            properties:
              itemNumber:
                type: string
              serialNumber:
                type: string
              lineNumber:
                type: integer
    TrackingResponse:
      type: object
      properties:
        orderNumber:
          type: string
        packages:
          type: array
          items:
            type: object
            properties:
              trackingNumber:
                type: string
              carrier:
                type: string
              status:
                type: string
              estimatedDelivery:
                type: string
                format: date
              events:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date-time
                    location:
                      type: string
                    description:
                      type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: Azure API Management subscription key from ScanSource partner portal
